.App {
  text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:4px;
  background-size:300% 100%;
  animation: load 1s infinite linear;
}

@keyframes load {
  0% {background-position: right}
}

.video-container:hover .video-thumb {
  filter: blur(8px);
}

.video-container:hover .play-icon-container {
  opacity: 1;
}

.play-icon-container {
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white; 
}

.video-thumb {
  transition: filter 0.3s ease;
}

.video-container {
  position: relative;
  cursor: pointer;
}

.play-icon {
  height: 36px;
  width: 36px;
}

.relative:hover svg {
  opacity: 1;
}

.relative svg {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.item.dragging {
  opacity: 0.5;
  transform: scale(1.1);
  transition: transform 0.2s ease-out;
}

